
.badge {
  display: inline-block;
  min-width: 1em;
  padding: $badge-vertical-padding $badge-horizontal-padding;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  color: $badge-color;
  line-height: $badge-line-height;
  vertical-align: $badge-vertical-align;
  white-space: nowrap;
  text-align: center;
  background-color: $badge-background-color;
  border-radius: $badge-border-radius;

  &.success {
    background-color: $background-success-color;
  }

  &.info {
    background-color: $background-info-color;
  }

  &.warning {
    background-color: $background-warning-color;
  }

  &.danger {
    background-color: $background-danger-color;
  }

}
