/**
 * Copyright 2018 Simon Edwards <simon@simonzone.com>
 */
 @import "../general-gui/variables";

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-background-color);
}

::-webkit-scrollbar-thumb {
  border-radius: $scrollbar-radius;
  border: 3px solid $scrollbar-background-color;
  background-color: var(--scrollbar-thumb-background-color);

  &:active {
    border-radius: 0px;
  }
}

::-webkit-scrollbar-thumb:hover {
   background-color: var(--scrollbar-thumb-hover-background-color);
}
