@import "general-gui/main";
@import "app-components/tabs";
@import "app-components/card";

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.top-layout {
  display: flex;
  flex-direction: row;
  width: 100%;

  & > .session-tab {
    padding: $panel-body-padding;
  }
}

.session-editor {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
}

.prompt-header {
  cursor: pointer;
}

.response-message {
  display: flex;
  gap: $component-padding-horizontal;

  &:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $hr-border-color;
    margin-bottom: 0.5rem;
  }

  & > .response-message-gutter {
    color: $headings-color;
    width: 2rem;
    flex: 0 0 auto;
  }

  & > .response-message-text {
    flex-grow: 1;
  }

  & > .response-message-text > P {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
