@import "general-gui/main";
@import "app-components/tabs";
@import "app-components/card";

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.top-layout {
  display: flex;
  flex-direction: row;
  width: 100%;

  & > .session-tab {
    padding: $panel-body-padding;
  }
}

.session-editor {
  display: flex;
  flex-direction: row;
}

.prompt-header {
  cursor: pointer;
}

.response-message {
  display: flex;
  gap: $component-padding-horizontal;

  & > .response-message-gutter {
    color: $headings-color;
  }

  & > .response-message-text > P {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
